.root {
  position: relative;
  width: min-content;
  height: min-content;
  padding: 10px;
  outline: solid 1.5px #797979;
  outline-offset: -1px;
  border-radius: 1px;
}
.centralizedControlMonitoringSy {
  color: #505050;
  font-size: 16px;
  line-height: 150%;
  font-family: Sequel Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: 0.01em;
  z-index: 0;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
